@charset "utf-8";
body,html,div,h1,h2,h3,h4,ul,li,p{ margin:0; padding:0; font-family:Microsoft YaHei,msyh,"微软雅黑","黑体"; }

/**pub**/
.delLine{ text-decoration:line-through;}
.clearfix { clear: both; }
.h100 { height: 100px; }
.h40 { height: 40px; }
.h30 { height: 30px; }
.h20 { height: 20px; }
.h15 { height: 15px; }
.h10 { height: 10px; }
.h5 { height: 5px; }
.MARGINAUTO { margin: 0px auto 0px auto; }
.MARGIN10 { margin: 5px auto 5px auto; }
.MARGIN20 { margin: 10px auto 10px auto; }
.MARGIN_R_20 { margin-right: 20px; }
.MARGIN_L_20 { margin-left: 20px; }
.MARGIN_B_20 { margin-bottom: 20px; }
.MARGIN_T_20 { margin-top: 20px; }
.MARGIN_R_10 { margin-right: 10px; }
.MARGIN_L_10 { margin-left: 10px; }
.MARGIN_B_10 { margin-bottom: 10px; }
.MARGIN_T_10 { margin-top: 10px; }
.MARGIN_R_5 { margin-right: 5px; }
.MARGIN_L_5 { margin-left: 5px; }
.MARGIN_B_5 { margin-bottom: 5px; }
.MARGIN_T_5 { margin-top: 5px; }

.PADDING10 { padding: 10px; }
.PADDING20 { padding: 20px; }
.f_12 { font-size: 12px; }
.f_14 { font-size: 14px; }
.f_15 { font-size: 15px; }
.f_16 { font-size: 16px; }
.f_18 { font-size: 18px; }
.f_20 { font-size: 20px; }
.f_22 { font-size: 22px; }
.f_24 { font-size: 24px; }
.f_26 { font-size: 26px; }
.f_28 { font-size: 28px; }
.f_30 { font-size: 30px; }
.f_arial { font-family: Arial, Helvetica, sans-serif; }
.f_orange { color: #ff7d27; }
.f_black { color: black; }
.f_red { color: red; }
.f_darkgray { color:#101010; }
.f_green { color: #46b017; }
.f_blue{color:#3D9BF2}
.f_gray_s { color: #555; }
.f_gray_m { color: #777; }
.f_gray_q { color: #999; }
.f_white { color: white; }
.f_b { font-weight: 600; }
.pull-left { float: left; }
.pull-right { float: right; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.bgWhite { background-color: white;}
.bgGray { background-color: #f9f9f9;}
.cur { cursor: pointer; }
.dot { height: 3px; background: url(../img/dot.gif) repeat-x left center; }
.pub_shadow { -webkit-box-shadow: 1px 1px 3px 1px #717171;   -moz-box-shadow: 1px 1px 3px 1px #717171;   box-shadow: 1px 1px 3px 1px #717171;}
.pub_relative { position: relative; }
.pub_radius_5 {  border-radius: 5px;  -webkit-border-radius: 5px;  -moz-border-radius: 5px;  }
.pub_radius_10 { border-radius: 10px;  -webkit-border-radius: 10px;  -moz-border-radius: 10px;   }
.pub_radius_20 { border-radius: 20px;  -webkit-border-radius: 20px;  -moz-border-radius: 20px;   }
.pub_radius_50 { border-radius: 50px;  -webkit-border-radius: 50px;  -moz-border-radius: 50px;   }
.f_nob { font-weight: normal;}
.noUL { list-style: none; }

.css_gray {
filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1); 
-webkit-filter: grayscale(100%);
 filter:Gray; -webkit-filter: grayscale(100%);
}


/*****公用确认框*****/
.pop{
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.6);
		z-index: 500;
	}
	.pop .popTop{ height: 40px; line-height: 40px; text-indent: 2em; background-color: #f3f3f3;  }
	.pop .popMain{ width: 600px; min-height: 300px; background: #fff; position: absolute; left: 50%; top: 30%; margin-left: -300px; }
	.popMiddle p{ text-align: left; font-size: 18px; color: #666; padding: 30px 20px;}
	.pop .popBottom{ position: absolute; bottom: 0; left: 0; display: flex;  width: 100%; height: 50px; text-align: center; background: #4f9fdf;}
	.pop .popBottom span{ flex: 1; text-align: center; font-size: 20px; color: #fff; line-height: 50px; cursor: pointer;}
	.pop .popBottom span:first-of-type{ border-right: 1px solid #fff; padding-right: 20px; margin-right: 20px;}
