@charset "utf-8";

/******************** def **************************/

.mainColor { color: #0f7ef1; }
.pubMain { width: 100%; text-align: center; margin: 0px auto 0px auto; }
.fg_icon_0 { width: 40px; height: 40px; }
.fg_icon_1 { width: 40px; height: 40px; }
.index_icon_l { width: 70px; text-align: right; cursor: pointer;  }
.index_icon_r { width: 70px; text-align: left; cursor: pointer; }
.ttop { height:70px; border-bottom: 1px #ccc solid; background-color: white; }
.topp_clearfix_h { height: 12px;}
.i_t { width: 300px; font-size: 16px; height: 32px; text-align:center;  cursor: pointer;  border: 1px #0f7ef1 solid; }
.i_t_def { background-color: white; color: #0f7ef1; }
.i_t_on { background-color: #0f7ef1; color: white; }
.info_b { display: ; height: 35px; text-align: center; line-height: 35px; background-color: #ffffcc; border-left: none;  border-right: none; border-bottom: 1px #ccc solid; font-size: 12px; color: #FF6633; }
.td_l {  position: relative; border-bottom: 1px #ccc solid; }
.dd_l { padding: 0px; float: left; height: 60px; width: 86%; background-color: white; cursor: pointer;  text-align: left; font-size: 22px; color: #666; border: 0px; font-family: Microsoft YaHei,"微软雅黑";  -webkit-user-select:none; -moz-user-select:none; outline:none; }
.dd_r { padding: 0px; float: right; height: 60px;  width: 86%; text-align: right; font-size: 22px; color: #666; border: 0px; font-family: Microsoft YaHei,"微软雅黑";  -webkit-user-select:none; -moz-user-select:none; outline:none;  cursor: pointer; }
.icon_position { cursor: pointer; z-index: 60; position: absolute; top: 23px; right: 5px; }
.fg_index_icon_3 { width: 16px; height: 21px; }
.td_change { width:30px;  height: 20px;  }
.td_change_selCity { width:70px;  height: 20px;   }
.icon_change { width: 23px; height: 20px; margin-top: 10px; cursor: pointer; }
.icon_fg_date_l { z-index: 20; position: absolute; bottom: 15px; right: 0px;  font-size: 13px; color: #999; }
.icon_fg_date_r { z-index: 20; position: absolute; bottom: 15px; right: 0px;  font-size: 13px; color: #999; }
.dd_r_date { float: right; height: 60px;  width: 100%; background-color: white; cursor: pointer; text-align: left; font-size: 22px; color: #666; border: 0px; font-family: Microsoft YaHei,"微软雅黑"; outline:none;   }
.icon_fg_go { z-index: 20; position: absolute; top: 0px; left: 0px;  font-size: 13px; color: #999; }
.icon_fg_back { z-index: 20; position: absolute; top: 0px; right: 0px;  font-size: 13px; color: #999; }
.icon_x { cursor: pointer; z-index: 999; position: absolute; bottom: 18px; right: -13px; width: 12px; height: 13px; background: url(../../img/fg_index_icon_4.jpg) no-repeat center center; }
.searchBtn { font-family: Microsoft YaHei; width: 91%; height: 40px; line-height: 38px; color: white; background-color: #0f7ef1; cursor:pointer; font-size: 16px; text-align: center; border: 0px;   border-radius:5px; }
.bottom_z {  width: 100%; text-align: center; font-size: 12px; color: #555; border-top: 1px #ccc solid; background-color: #f5f5f5; height: auto; }



/*****selDate*****/
.fixtop {  position:fixed; top:0; z-index:800;  width: 100%;}
.td_l_sel { position: relative; border-bottom: 2px #0f7ef1 solid; }
.ttop_changed { height:70px; border-bottom: 1px #ccc solid; background-color: white; }
.dateFontStyle_cnTitle { color: #555; font-size: 16px; }
.dateFontStyle_date { color: #555; font-weight: 600; font-size: 18px; }
.dateFontStyle_date_s { color: #999; font-size: 18px;  font-family: Arial, Helvetica, sans-serif; }
.dateFontStyle_date_s td {  width: 14.29%; height:40px; cursor: pointer; font-size: 16px; }
.dateFontStyle_date_s td .f12 { font-size: 16px; color: #f28714; }
.dateFontStyle_date_s td .yen { font-size: 14px; }
.dateFontStyle_date_s td .hasPrice { color: #444; height: 40px; line-height: 40px; font-size: 16px;   }
.dateFontStyle_date_s td .hasSelect { color: white; background-color: #0f7ef1; height: 40px; line-height: 40px; font-size: 16px;  }
.dateFontStyle_date_s td .hasSelect .f12 { color: white; }
.select_info_alert { font-size: 22px;  cursor: pointer;  position:fixed; bottom:0; z-index:800; width: 100%; height: 50px; background-color: #0f7ef1; color: white; line-height: 50px; text-align:center; }
#date_total_go { font-size: 22px;}
#date_total_back { font-size: 18px; margin-left: 10px;}
#dateSel_hand_go { font-size: 18px;}
#dateSel_hand_back { font-size: 18px; }
.tpp_tab_height { height: 60px; }
.selClearHeight { height: 180px; }
.dateBgColor { background-color: #f5f5f5; }
.clearfixBgColor { background-color: #f5f5f5; }
.selDate_bottom_arrow { float: right;  margin: 10px 10px 0px 0px; }
.font_finish { font-weight: 600; font-size: 18px; text-decoration: none;}
.font_finish_td_w { width: 45px; }

/****city det****/

#cityUl { margin: 0px; padding: 0px;  }
#cityUl .city { list-style: none; width: 22%; margin: 0px 0px 10px 0px; border: 1px #ccc solid; background-color: white; border-radius:5px; text-align: center; height: 50px; line-height: 50px; font-size: 14px; cursor: pointer; float: left;  }
#cityUl .fenf { list-style: none;  width:2%; height: 35px; float: left; }
.city_title { font-size: 16px; color: #888; height: 50px; text-align:left; padding: 0px 0px 0px 15px; }
.cityTD_padding { padding: 0px 0px 0px 15px; }

#cityM { margin: 0px; padding: 0px;  }
#cityM .city { list-style: none; width: 17%; margin: 0px 0px 10px 0px; border: 1px #ccc solid; background-color: white; border-radius:5px; text-align: center; height: 50px; line-height: 50px; font-size: 14px; cursor: pointer; float: left;  }
#cityM .fenf { list-style: none;  width:2%; height: 35px; float: left; }
#cityM_sel { display: none; }
#cityM #city_target { list-style: none; width: 6%; margin: 0px 0px 10px 0px; color: #0f7ef1; border: 1px #0f7ef1 solid; background-color: white; border-radius:5px; text-align: center; height: 50px; line-height: 50px; font-size: 14px; cursor: pointer; float: left;  }
#city_results { display: none; }
#city_res {  padding: 0px; margin: 0px;}
#city_res li { list-style: none; height: 50px; font-size: 18px; line-height: 50px; text-align:left; text-indent: 2em; border-top: 1px #ccc solid; cursor: pointer; }

#city_res_t {  padding: 0px; margin: 0px;}
#city_res_t li { list-style: none; height: 50px; font-size: 16px; line-height: 50px; text-align:left; text-indent: 1em; border-top: 1px #ccc solid; cursor: pointer; }

/*** loading ***/
.inloading { text-align: center;  background-color: white;  border-radius:10px; }

/**** results page ****/
.s_f_pre_date { font-size: 16px; color: #777; line-height: 10px; text-align: left;}
.s_f_next_date { font-size: 16px; color: #777; line-height: 10px; text-align:right;}
.i_t_res { padding: 0px 10px 0px 10px; color: #777; font-size: 22px; height: 32px; text-align:center;  cursor: pointer;  border: 1px #ccc solid; }
.i_t_res .price { color: #ff7d27; font-size: 21px;}
.i_t_res .icon_date { width: 20px; height: 20px;}

.res_tab_def { border-left: 3px white solid; border-bottom: 1px #ccc solid; cursor: pointer; }
.res_tab_sel { border-left: 3px #0f7ef1 solid; border-bottom: 1px #ccc solid; cursor: pointer;}

.airport { font-size: 17px;  color: #888; } 
.f_zk { font-size: 15px; color: #888;}
.price { color: #ff7d27; font-size: 25px; }
.date { font-size: 25px; }

.res_tab_sel td { padding: 10px 0px 5px 0px; }
.res_tab_def td { padding: 10px 0px 5px 0px; }

.arrow_in_tab { height: 8px; width: 50px; }
.arrow_in_tab_tab { width: 51px; }
.sp_info_green { border-radius:5px; float: right; height: 18px; line-height: 18px; padding:0px 3px 0px 3px;  border: 1px #76ca3d solid;  text-align:center; font-size: 12px; color: #76ca3d; margin-right: 3px;}

.f_tick { font-size: 16px; color: red; float: right; margin-right: 5px;}
.sp_info_blue { border-radius:5px; float: right; height: 18px; line-height: 18px;  padding:0px 3px 0px 3px;  border: 1px #099fde solid;  text-align:center; font-size: 12px; color: #099fde; margin-right: 3px; }
.f_info { color: #888; font-size: 16px; float: left; margin-left: 2px; }
.resTabs { height: 30px; }
.btTabsWidth { width: 80px; cursor: pointer; }
.t_arrow_l { width: 35px; cursor: pointer; }
.t_arrow_r { width: 35px; cursor: pointer; }
.tempBk { width: 20px; float: left; height: 10px; }
.lanview { height: 60px; background-color: #0f7ef1; position:fixed; bottom:0; text-align: center;  z-index: 800; display: ;  width: 100%;  filter:alpha(opacity:95); opacity:0.95;}
.lanTab { color: white; width: 80%; height: 60px; font-size: 15px; margin: 0 auto; }
.lanTab td { width: 33.3%; cursor:pointer;}

.openedMoreLine { border-bottom: 1px #dadada solid; background-color: #f9f9f9; display: none ;}
.openedMoreLine .td_1 { text-align: left; height: 80px; padding-left: 20px; border-bottom: 1px #dadada solid; }
.openedMoreLine .td_2 { text-align:right; border-bottom: 1px #dadada solid;}
.openedMoreLine .td_3 { border-bottom: 1px #dadada solid; width: 120px; }
.openedMoreLine .title { font-size: 16px; color: #333;}
.openedMoreLine .titleGreen { color: #00CC66; }
.openedMoreLine .info { font-size: 12px; color: #afafaf;}
.openedMoreLine .td_2 .price { font-size: 20px;}
.openedMoreLine .btn { background: #0f7ef1; cursor: pointer; font-size: 14px;  color: white; text-align: center; padding: 0px 10px 0px 10px; height: 35px; line-height: 35px; border:0px; border-radius:3px;}

.sp_info_gray { border-radius:5px; float: right; height: 18px; line-height: 18px;  padding:0px 3px 0px 3px;  border: 1px #afafaf solid;  text-align:center; font-size: 12px; color: #afafaf; margin-right: 3px; }

.side{ position:fixed; width:29px;height:29px; right:18%;bottom:100px;z-index:50; opacity:0.8; filter:Alpha(opacity=80); }
.side_icon { width:29px; height:29px; }

#sx_the_line { height: auto; background-color: #0f7ef1; position:fixed; bottom:0; text-align: center;  z-index: 810; display: none;  width: 100%; }

.linTab { width: 100%;  margin: 0 auto;}
.linTab .btn { color: white; font-size: 16px; border: 0px; cursor: pointer; background: none; height: 40px; line-height: 40px; }
.linTab .btn2 { background: #3395fa; color: white;  border: 0px; cursor: pointer; height: 40px; line-height: 40px;}
.lineUL { list-style: none; width:25%; float: left; margin: 0px; padding: 0px;}
.lineUL .on { font-size: 16px; height: 70px; line-height: 70px; background-color: white; color: #333; text-align: center; cursor: pointer; }
.lineUL .def { font-size: 16px; height: 70px; line-height: 70px; background-color: #eee; color: #333; border-top: 1px #ccc solid; text-align: center; cursor: pointer; }
.lineUL_r { width: 72%; float: left; background-color: white; height: 142px; text-align:center; padding: 10px 0px 0px 20px;  }
.lineUL_r .scrollZone { width: 100%; height: 200px; overflow:hidden; overflow:scroll; overflow-x: hidden; overflow-y: auto;  }
.scrollZone .inz { list-style: none; padding: 0px; margin: 0px;  }
.inz li { height: 40px; border-bottom: 1px #eee solid; text-align:left; line-height: 40px; font-size: 16px;}
.inz label { width:98%; display: block; cursor: pointer;  }

.info_b_res { display: ; height: 45px; text-align: left; line-height: 45px; background-color: #ffffcc; border-left: none;  border-right: none; border-bottom: 1px #ccc solid; font-size: 18px; color: #FF6633; }
.info_b_res .sp_info_blue { border-radius:5px; float: left; height: 25px; line-height: 25px;  padding:0px 5px 0px 5px; background-color: #0f7ef1; border: 0px;  text-align:center; font-size: 14px; color: white; margin: 7px 0px 0px 15px; }

.pay_bank_fix .search { border: 1px #ccc solid; height: 40px; line-height: 35px;  font-size: 20px;  width: 100%; color: #555; text-indent: 2em; background: url(../img/pay_search.png) no-repeat left center; }
.pay_bank_fix .mobile { border: 1px #ccc solid; height: 40px; line-height: 35px;  font-size: 20px;  width: 100%; color: #555; text-indent: 2em; background: url(../img/pay_mobile.png) no-repeat left center; }
.pay_bank_fix .lock { border: 1px #ccc solid; height: 40px; line-height: 35px;  font-size: 20px;  width: 100%; color: #555; text-indent: 2em; background: url(../img/pay_lock.png) no-repeat left center; }
.pay_bank_fix .man { border: 1px #ccc solid; height: 40px; line-height: 35px;  font-size: 20px;  width: 100%; color: #555; text-indent: 2em; background: url(../img/pay_man.png) no-repeat left center; }

.pay_bank_fix .abs_btn_on { background: #FF9933; cursor: pointer; font-size: 18px;  color: white; text-align: center; padding: 0px 20px 0px 20px;  height: 35px; line-height: 35px; border:0px; border-radius:3px; margin-bottom: 10px; position:absolute; right: 0px; top: 5px;  }
.pay_bank_fix .abs_btn_def { background: #dadada; cursor: pointer; font-size: 18px;  color: #888; text-align: center; padding: 0px 20px 0px 20px;  height: 35px; line-height: 35px; border:0px; border-radius:3px; margin-bottom: 10px; position:absolute; right: 0px; top: 5px;  }


.selClearHeight_pay { height: 120px; }
.lanTabPay { color: #333; width: 100%; height: 70px; font-size: 15px;  margin: 0px auto;  }
.lanTabPay .btn { background: orange; cursor: pointer; font-size: 18px;  color: white; text-align: center; padding: 0px 0px 0px 0px; width: 100%; height: 45px; line-height: 45px; border:0px; border-radius:0px; margin-bottom: 10px; }
.lanTabPay .btn2 { background: #dadada; cursor: pointer; font-size: 18px;  color: #888; text-align: center; padding: 0px 0px 0px 0px; width: 100%; height: 45px; line-height: 45px; border:0px; border-radius:0px; margin-bottom: 10px; }


.miss_3 { width: 25px; height: 25px; }
.miss_2 { width: 25px; height: 25px; }
.miss_1 { width: 25px; height: 25px; }
.date_arrow_pubstyle { width: 15px; height: 15px; }

#toLoginZone { background-color: #0f7ef1; color: white;  }
#toLoginZone .td_w { width: 50px; cursor: pointer; }
#toLoginZone .btn { border: 1px white solid; color: white;  border-radius:5px; font-size: 18px; background-color: #0f7ef1;  padding: 5px 8px 5px 8px; cursor: pointer; float: left; margin: 0px 0px 0px 10px;   }
#toLoginZone .font { margin: 5px 0px 0px 10px; color: white; float: left; }
#toLoginZone .font2 { margin: 0px 0px 0px 10px; color: white; float: left; font-size: 16px; }

#toLoginZone2 { border-top: 1px #eee solid; }
#toLoginZone2 .f_td1 { width: 33.3%; border-right: 1px #eee solid; text-align: center; cursor: pointer;  font-size: 20px; } 
#toLoginZone2 .f_td2 { width: 33.3%;  border-right: 1px #eee solid;  text-align: center;  cursor: pointer;  font-size: 20px;} 
#toLoginZone2 .f_td3 { width: 33.3%; text-align:center; cursor: pointer;  font-size: 20px; }
.f_td_icon_1 { height: 53px; margin: 5px auto 3px auto;  } 
.f_td_icon_2 { height: 53px; margin: 5px auto 3px auto;  } 
.f_td_icon_3 { height: 53px; margin: 5px auto 3px auto;  }  

.login_td_on { height: 40px; width: 50%; border-bottom: 3px #0f7ef1 solid; color: #0f7ef1; font-size: 20px; cursor: pointer;  }
.login_td_def { height: 40px; width: 50%; border-bottom: 3px #e9e8e8 solid; color: #888;  font-size: 20px;  cursor: pointer; }



