/* CSS Document */

/* CSS Document */

#pay_mask_shadow {
  display: none;
  opacity: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
}
#pay_popup {
  display: none;
  opacity: 0; 
  position: absolute;
 /* overflow-y:auto;*/
  z-index: 2;
  top: 150px;
  width: 700px;
  height: 500px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
#pay_popup .pay_title {
  position: relative;
  width: 700px;
  height: 48px;
  background-color: #5bc0de;
  cursor: move;
}
#pay_popup .pay_title p {
  padding-left: 14px;
  line-height: 55px;
  color: #fff;
}
#pay_popup .pay_title span {
  position: absolute;
  top: 12px;
  right: 20px;
  width: 30px;
  height: 30px;
  color: #000;
  opacity: .2;
  font-size: 21px;
  cursor: pointer;
  text-align: center;
  border: 1px solid #333;
}
#pay_popup .pay_title span:hover {
  opacity: .8;
}
#pay_popup .pay_cont { width: 700px; height: 500px; background-color: #EDEDED;    }